body {
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
}

.navbar {
  text-transform: uppercase;
  background-color:#114427;
}

.navbar .nav-link {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item .nav-link:hover {
border: 3px;
background-color: rgb(207, 207, 207);
border-radius: 5px;
color: #551616;
}

.navbar .nav-item:active {
border: rgb(0, 0, 0);
border-width: 3px;
border-radius: 3px;
}

.navbar .navbar-brand {
  color: white;
  font-size: 16px;
}

.container{
  margin-top: 2%;
}

.float-left, .col-md-6{
    margin-top: 2%;
    float: left;
    min-height: 200px;
}


.leftcolumn {   
    float: left;
    width: 70%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 30%;
    height: 100%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .img {
    padding: 20px;
    margin-top: 20px;
    background-image: url("/assets/img/air.jpg");
    background-repeat: no-repeat;
    
  }

  .img2 {
    background-image: url("/assets/img/regional.jpg");
  }

  .img3 {
    background-image: url("/assets/img/disaster.jpg");
  }

  .img4 {
    background-image: url("/assets/img/green.jpg");
  }

  .img5 {
    background-image: url("/assets/img/science1.jpg");
  }
  
  .img6 {
    background-image: url("/assets/img/change1.jpg");
  }

  .img7 {
    background-image: url("/assets/img/quality.jpg");
  }

  .img8 {
    background-image: url("/assets/img/ice.JPG");
  }

  /* Add a card effect for articles */
  .card-left {
     background-color: rgb(209, 209, 209);
     padding: 30px;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 40px;
     border-radius: 10px;
     border: none;
     height: 540px;
     font-size: 15px;
     box-shadow: 5px 5px 10px #888888;
  }

    /* Add a card effect for articles */

.card {
    background-color: rgb(214, 214, 214);
    padding: 30px;
    margin-top: 20px;
    margin-right: 40px;
    border-radius: 10px;
    height: 50 0px;
    font-size: 12px;
    border: none;
    box-shadow: 5px 5px 15px #888888;
 }

 .card-left p {
  margin-top: 20px;
}

.card p {
  margin-top: 20px;
}

.links {
    font-size: 12px;
}
  .right {
    height:70px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }